<%= form_for entry = Entry.new(:start => Time.now) do |f| %>
  <tr>
    <td>
      <%= f.date_select :start, class: 'form-control', placeholder: entry.date_formatted %>
    </td>
    <td>
      <%= f.time_select :start, ignore_date: true, class: 'form-control', type: 'time', placeholder: "hh:mm" %>
    </td>
    <td class="form-group">
      <%= f.time_field :stop, class: 'form-control', placeholder: "hh:mm" %>
    </td>
    <td></td>
    <td class="form-group">
      <%= f.text_field :notes, class: 'form-control notes-field', placeholder: "Description of the activity" %>
    </td>
    <td>
      <%= f.submit "Save", class: 'btn btn-primary' %>
    </td>
  </tr>
<% end %>


