<%= bootstrap_form_for entry = Entry.new(:start => Time.now) do |f| %>
  <tr>

    <td class="text-center">
      <%= f.date_select :start, class: 'form-control', use_short_month: true, order: [:month, :day, :year], hide_label: true, placeholder: entry.date_formatted %>
    </td>

    <td class="text-center">
      <%= f.time_select :start, ignore_date: true, default: {:hour => 10, :minute => 30}, hide_label: true, class: 'form-control' %>
    </td>

    <td class="text-center">
      <%= f.time_select :stop, class: 'form-control', hide_label: true, placeholder: "hh:mm" %>
    </td>

    <td></td>

    <td class="text-center">
      <%= f.text_field :notes, class: 'form-control notes-field', hide_label: true, placeholder: "Description of the activity" %>
    </td>

    <td class="text-center">
      <%= f.submit "begin", name: 'begin', value: 'begin', class: 'btn btn-xs btn-success' %>
      <%= f.submit "finish", name: 'finish', value: 'finish', class: 'btn btn-xs btn-danger' %>
    </td>

  </tr>
<% end %>


