<div class="container">
  <h1>Time Entries</h1>

  <table class="table table-striped">
    <tr>
      <th>Day</th>
      <th>Start</th>
      <th>End</th>
      <th>Duration</th>
      <th>Note</th>
    </tr>

    <% @entries.each do |entry| %>
      <tr>
        <td>
          <%= entry.date_formatted %>
        </td>
        <td>
          <%= entry.start_time_formatted %>
        </td>
        <td>
          <%= entry.stop_time_formatted %>
        </td>
        <td>
          <%= entry.format_duration %>
        </td>
        <td>
          <%= entry.notes %>
        </td>
      </tr>
    <% end %>

  </table>

  <%= link_to "New Entry", new_entry_path, class: "btn btn-success" %>

</div>
