<div class="container">
  <h1>Time Entries</h1>

  <table class="table table-striped">
    <tr>
      <th class="text-center">Day</th>
      <th class="text-center">Start</th>
      <th class="text-center">End</th>
      <th class="text-center">Duration</th>
      <th class="text-center">Note</th>
    </tr>

    <% @entries.each do |entry| %>
      <tr>
        <td class="text-center">
          <%= entry.date_formatted %>
        </td>

        <td class="text-center">
          <%= entry.start_time_formatted %>
        </td>

        <td class="text-center">
          <%= entry.stop_time_formatted %>
        </td>

        <td class="text-center">
          <%= entry.duration_formatted %>
        </td>

        <td class="text-center">
          <%= entry.notes %>
        </td>
        <td>
          <%= link_to "edit", edit_entry_path(entry) %>
          <%= link_to "delete", entry_path(entry), method: :delete %>

        </td>
      </tr>
    <% end %>
    <tr>
      <%= render partial: 'entries/form' %>
    </tr>
  </table>

  <%= link_to "New Entry", new_entry_path, class: "btn btn-success" %>
  <%= link_to "Start", start_entry_path, class: "btn btn-primary" %>

</div>
